<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard1.css') }}">
</head>
<body class="{% if user.role == 'seller' %}seller-view{% else %}user-view{% endif %}">

<!-- NAVBAR -->
<div class="navbar">
    <header class="site-header">
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" class="logo">
        <h1 class="title">puttaraj bakery</h1>
    </header>
    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Search products..." onkeyup="searchProduct()">
    </div>

    <div class="nav-actions">
        {% if user.role != 'seller' %}
        <a href="{{url_for('auth.profile')}}"class="profile-btn">profile</a>
        {% endif %}
        {% if can_add_product %}
        <a href="{{url_for('auth.add_product')}}" class="profile-btn">Add Product</a>
        {% endif %}
        {% if show_payments_button %}
        <a href="{{url_for('auth.seller_payments')}}" class="cart-btn">Payments</a>
        {% endif %}
        {% if user.role != 'seller' %}
        <a href="{{url_for('auth.cart')}}" class="cart-btn">Cart</a>
        {% endif %}
        <a href="{{url_for('auth.logout')}}" class="logout">Logout</a>
    </div>
</div>

<!-- PRODUCTS -->
<div class="products" id="productList">
    {% for product in products %}
    <div class="card product-card">
        <div class="product-image-wrap">
            <img
                src="{{ product.image }}"
                alt="{{ product.name }}"
               onerror="this.onerror=null;this.src=`{{ url_for('static', filename='images/demo.jpg') }}`;"
            >
        </div>
        <div class="product-info">
            <h3>{{ product.name }}</h3>
            <p class="price">Rs {{ product.price }}</p>
            <p class="product-description">{{ product.description or 'Fresh bakery item.' }}</p>
        </div>
        {% if user.role != 'seller' %}
       <button
           class="add-cart-btn"
           data-id="{{ product.id }}"
           data-name="{{ product.name }}"
           data-price="{{ product.price }}"
           data-image="{{ product.image }}"
           onclick="addToCart(this)">
           Add to cart
            </button>
        {% endif %}
        {% if user.role == 'seller' %}
        <form action="{{ url_for('auth.remove_product', product_id=product.id) }}" method="POST">
            <button type="submit" class="remove-product-btn">Remove Product</button>
        </form>
        {% endif %}
    </div>
    {% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/cart.js') }}"></script>
{% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
        {% for categories,message in messages %}
          <script>
            Swal.fire({
                icon:"{{'success' if categories == 'success' else 'info'}}",
                title:"{{message}}",
                ConfirmButtonColor:"#3085d6",
            })
          </script>
          {% endfor %}
        {% endif %}
        {% endwith %}

</body>
</html>
